/mod
/modengine2
Start_Convergence.bat
modengine2_launcher.exe

#whitelist
!mod/erd_tools.ini
!mod/altsaves.toml
!mod/regulation.bin
!mod/regulation.bin.stock
!mod/project.json
!mod/msg/engus/item_dlc02.msgbnd.dcx